* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: #f2f4f6;
  overflow: hidden;
}

ul {
  list-style: none;
}

.context-menu {
  position: absolute;
  color: rgb(0, 247, 12);
  background-color: #a7ecdd;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: rgb(16, 15, 24);
  border-radius: 10px;

  padding: 10px 0;
}

.menu>li>a {
  font: inherit;
  border: 0;
  padding: 10px 30px 10px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: unset;
  color: rgb(43, 39, 49);
  font-weight: 500;
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  -o-transition: 0.5s linear;
}

.menu>li>a:hover {
  background: #26282c;
  color: #12df56;
}

.menu>li>a>i {
  padding-right: 10px;
}

.menu>li.trash>a:hover {
  color: rgb(255, 0, 43);
}

a {
  text-decoration: none;
}

li {
  color: #ffffff;
}

button {
  height: 100px;
  width: 100px;
  color: yellow;
}

